// 
// Wire
// Copyright (C) 2016 Wire Swiss GmbH
// 
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
// 
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
// GNU General Public License for more details.
// 
// You should have received a copy of the GNU General Public License
// along with this program. If not, see http://www.gnu.org/licenses/.
// 

WIRE_BUILD_NUMBER = 999999
SSO_URL_SCHEME = wire-sso-alpha
WIRE_BUNDLE_ID = com.wearezeta.zclient-alpha

//Code Signing
//
CODE_SIGN_IDENTITY = iPhone Developer

DEVELOPMENT_TEAM = W5KEQBF9B5
PROVISIONING_PROFILE_SPECIFIER_APP = Wire Alpha Development
PROVISIONING_PROFILE_SPECIFIER_SHARE_EXT = Wire Alpha Development Share Ext

CODE_SIGN_ENTITLEMENTS_APP = Wire-iOS/Entitlements-Dev.entitlements
CODE_SIGN_ENTITLEMENTS_SHARE_EXT = Wire-iOS Share Extension/Wire-iOS Share Extension.entitlements

// API Keys
HOCKEY_APP_ID = 0123456789abcdef
